
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key%>)">
  <h1><%= @list.name %></h1>
  <span class="btn btn-warning btn-movie"><%= @list.movies.length %> movies</span>
</div>

<div class="container">
  <div id="lists">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-gradient" %>
  </div>

  <% if @list.bookmarks.any? %>
    <div class="card-group">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card my-5">
          <%= image_tag "https://image.tmdb.org/t/p/w500/#{bookmark.movie.poster_url}", height: 300, class: "cover-img" %>
          <div class="card-body">
          <div class="d-flex align-items-start">
            <h5 class="card-title"><strong><%= bookmark.movie.title %></strong></h5>
            <span class="mx-1">•<%= bookmark.movie.rating %></span><i class="fa-solid fa-star star" style="color: #ffef42;"></i>
          </div>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <p class="card-text"><small class="text-muted"><i class="fa-solid fa-quote-left mx-1"></i><%= bookmark.comment %></small></p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "red" %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
</div>
